<a href="{{ "index.html#contact" | relURL }}" class="change-icon">
  <i class="fa fa-envelope"></i>
  <i class="fa fa-envelope-open"></i>
</a>
<a href="https://www.instagram.com/edrydv/" class="fab fa-instagram"></a>
<a href="https://www.linkedin.com/in/ed-van-bruggen-58a379171/" class="fab fa-linkedin"></a>
<a href="https://github.com/edvb" class="fab fa-github"></a>
<a href="https://git.edryd.org" class="fab fa-git"></a>
<!-- TODO fix rss -->
<!-- <a href="{{ "index.xml" | relURL }}" class="fa fa-rss-square"></a> -->
